# Copie para .env e preencha. Único obrigatório: IOT_X_USER_ID
# cp .env.example .env

IOT_X_USER_ID=
IOT_API_BASE_URL=https://iot.int.tractian.com
# SENSOR_IDS=RBT9269,PNI6508,DJE0269,SCE1196,QPE6415,QJG6843,JHS6915,XIK4799,KCC4196,LHF1992
