# Copie para config.yaml e preencha.
# Ou use variáveis de ambiente: IOT_API_BASE_URL, IOT_X_USER_ID, SENSOR_IDS

iot:
  base_url: "https://iot.int.tractian.com"
  x_user_id: "68a3151b331cccc93f99ad8b"

# IDs dos sensores SmartTrac G2 para o teste (devem estar na versão ST3001*)
sensor_ids:
  - "RBT9269"
  - "PNI6508"
  - "DJE0269"
  - "SCE1196"
  - "QPE6415"
  - "QJG6843"
  - "JHS6915"
  - "XIK4799"
  - "KCC4196"
  - "LHF1992"
